*, *:before, *:after {
    box-sizing: border-box;
    transition: 200ms;
}
body {
    margin: 0;
    padding: 0;
}

:root {
    --col-bg: rgb(17, 13, 31);
    --col-bg2: rgb(25, 20, 43);
    --col-text: white;
    --col-text-subtle: rgb(144, 136, 168);
    --col-primary: #38c4f3;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: var(--col-text);
    background-color: var(--col-bg);
}

.page {
    display: flex;
    margin: auto;
    width: 80%;
}
.sidebar {
    padding-top: 1rem;
    flex: 1;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.6rem;
    white-space: nowrap;
    user-select: none;
    margin: 0;
}
.sidebar-list-item {
    margin-bottom: 0.5rem;
    padding: 0.6rem 0.4rem;
    border-radius: 40px;
}
.sidebar-list-item:hover {
    background-color: var(--col-bg2);
}
.sidebar-list-item>a>i {
    text-align: center;
    display: inline-block;
    width: 1.8em;
}
.sidebar-list-item>a, .logo {
    text-decoration: none;
    color: var(--col-text);
}
.logo {
    display: block;
    font-size: 3rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.sidebar-button-signup {
    font-size: 1.6rem;
    color: var(--col-text);
    background-color: var(--col-primary);
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    padding: 0.7rem 0;
    margin-top: 0.5rem;
}
.sidebar-button-search {
    font-size: 1rem;
    color: var(--col-text-subtle);
    background-color: var(--col-bg2);
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 50px;
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;
}

.sidebar-section {
    background-color: var(--col-bg2);
    padding: 1.2rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}
.sidebar-section>h2 {
    margin-top: 0;
}
.sidebar-trending-category {
    cursor: pointer;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.post {
    flex: 3;
    background-color: var(--col-bg2);
    margin: 3rem;
    padding: 2rem 2rem;
    border-radius: 0.8rem;
}

.post-user-container {
    cursor: pointer;
}

.post-user-pfp {
    border-radius: 50%;
    width: 3rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.post-user-display-name {
    font-weight: bold;
}
.post-user-handle {
    color: var(--col-text-subtle);
}
.post-user-verified-badge {
    color: var(--col-primary);
}

.post-content {
    padding: 1rem 0;
}

.post-media-container {
    display: flex;
    margin-bottom: 1rem;
}
.post-media-image {
    object-fit: cover;
    height: 20rem;
    width: 27rem;

    border-radius: 20px;
}

.post-meta {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.post-meta-text {
    color: var(--col-text-subtle);
    font-size: 0.8rem;
}
.post-meta-text::after{
    content:'\2022';
    padding-left: 0.45rem;
}
.post-meta-text:last-child::after{
    content:'';
}

.post-metrics {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.post-metrics-text {
    color: var(--col-text);
    text-decoration: none;
    cursor: pointer;
}